body{font-size: 1.2em;background-color:#02010a;font-family: "DancingScript";

width: 900px;position:relative; margin-left: auto; margin-right: auto;
}

@font-face {
    font-family:  "DancingScript";
     src: url(DancingScript.ttf);
}



a[ href^="file:///C:/Users/ventana%20ret%20a%20car%20sa/3D%20Objects/proyecto%20css%20final/index.html#"]{text-decoration: none;}

#leyen0{
    color: white; text-align: left; width: 50%; margin-top: 50px;
}

a{
    color: white; text-shadow: 2px 2px #02010a;margin-left: 5px;

}
p{font-family:  "DancingScript";
}
h1{
 font-family:  "DancingScript";
}
    .line{  color: white; text-shadow: 2px 2px #02010a;

         height: 20%; display: flex; float: right; margin-left: 200px; margin-top: 60px;

    }

    #imagen1{
        margin-left: auto; margin-right: auto;width: 900px; height: 100%;
        background-color: #82c3a6;
    }

    .cajas{
        width: 900px;  margin-left: auto ; margin-right: auto; color: white;
         text-shadow:2px 2px #02010a;display: flex;flex-flow: row wrap; background-color: #5b7989;
         border-top-left-radius: 10px; border-top-right-radius: 10px;
         font-family:  "DancingScript";
    }
    .contenido {
        background-color: #d5c75f; border: 1px;width: 900px; height:auto; display: flex;
        flex-direction: row; flex-wrap: wrap;  margin-left: auto; margin-right: auto;
        font-family:  "DancingScript"; text-shadow: 2px 2px #82c3a6;

    }
    .contenedor{
        animation: 5s movimiento infinite; width: 900px;height: auto;
        margin-left: auto; margin-right: auto;
    }
    @-webkit-keyframes movimiento{

    0%{margin-top:150%;}
    60%{margin-top: -5%;}
    100%{margin-top: 0%;}
    }


    #tranforme2{
        width: 50%; border:1px; height: auto; transition-duration: 5s; text-align: center;

         order: 1; float: left;

    }

#tranforme2:hover{
    transform: rotate(10deg); text-shadow: 2px 2px #82c3a6;
}
#tranforme3{
    width: 50%; height:auto border: 1px; transition-duration: 5s;
     text-align: center; order: 2;  float: right;
}
#tranforme3:hover{
    transform: translate(5px,-20px);  text-shadow: 2px 2px #82c3a6;

}

.pies{
    background-color:  #C6d5c5; height: 100%; width: 900px; margin-left: auto;margin-right: auto;
    border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; margin-top: 0; display: flex;
    flex-flow: row wrap;font-family:"

}
#leyen1{
     text-align: justify; display: inline; order: 1; flex-grow: 1;
      width: 22%; height:auto;margin-left:20px; margin-right:auto;
}

#leyen2{
     text-align: justify;display: inline; order: 2;flex-grow: 1;
      width: 22%;height: auto;margin-left: auto;
      margin-right: auto;

}

#leyen3 {
     text-align: justify;display: inline; order: 3;
      flex-grow: 1; margin-left: auto;
     margin-right: auto; width: 22%;
}
#leyen4 {
         text-align: justify;display: inline; order: 4;
         flex-grow: 1;margin-left: auto;
         margin-right: auto; width: 22%;height: auto;
}

@media all and (max-width:900px) and (min-width:360px){
    body{ width: 100%; margin-left: auto;margin-right: auto;
        height: auto;}

.contenedor{

    width: 100%; height: auto; margin-left: auto;
    margin-right: auto;
background-color: #d5c75f;
    animation: 5s movimiento infinite;

}

.contenido{ width: 100%; height: auto;; margin-left:
    auto; margin-right: auto;
     background-color: #d5c75f;  display: flex;
      flex-direction: column;

}
@-webkit-keyframes movimiento{

0%{margin-top:150%;}
60%{margin-top: -5%;}
100%{margin-top: 0%;}
}
#imagen1{
    width: 100%;height: auto;
}
#tranforme2{

    width: 100%; margin-left: auto;
     margin-right: auto; height:auto; margin-bottom: 20px;

}
#tranforme3{
    width: 100%; margin-left: auto;
     margin-right: auto; height:auto;

}

#leyen1{
    width: 100%; order: 1; text-align: justify;
    margin-left: 20px; margin-right: auto;

}
#leyen2{
width: 100%;order: 2; text-align: justify;
margin-left: 20px; margin-right: auto;
}
#leyen3{
width: 100%; order: 3; text-align: justify;
margin-left: 20px; margin-right: auto;
}
#leyen4{
width: 100%; order: 4; text-align: justify;
margin-left:20px; margin-right: auto;
}
.pies{
    background-color:  #C6d5c5; height:auto; width: 100%;
    margin-left: auto;margin-right: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; margin-top: 0;

}



.line{  color: white; text-shadow: 2px 2px #02010a;
    text-align: center; display: flex;
height: auto;  margin-left:25%; width: 100%;
}
a[ href^="file:///C:/Users/ventana%20ret%20a%20car%20sa/3D%20Objects/proyecto%20css%20final/index.html#"]{text-decoration: none;}

#leyen0{
    text-align: center; margin-left:25%;margin-right: auto;
}


.cajas{
    width: 100%; height:auto; text-align: center;
    display: flex; flex-direction: column;
    margin-left:auto; margin-right: auto; color: white;
     text-shadow:2px 2px #02010a;
     background-color: #5b7989;
     border-top-left-radius: 10px;
      border-top-right-radius: 10px;
}
}
